* {
  /* outline: solid 1px black; */
}

body {
  background-color: #c8d4da;
  padding: 0;
  margin: 0;
}

input,
.sig,
.current,
.forecast,
h1 {
  font-family: "Inter", sans-serif;
}

h1 {
  color: #5f6f77;
  margin: 0;
  padding-top: 20px;
  padding-left: 100px;
}

.top {
  height: 20vh;
}

#magnify-icon {
  height: 50px;
  width: 50px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  gap: 5px;
}

input {
  width: 30vw;
  height: 5vh;
  font-size: 20px;
  border-radius: 20px;
  padding-left: 15px;
  border: 0;
  color: rgba(95, 111, 119, 1);
}

#country {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
/* middle section  */

.main {
  height: 75vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: center;
}

.capitalise {
  text-transform: capitalize;
}
.current,
.forecast {
  height: 30vh;
  width: 80vw;
  background-color: rgb(255, 255, 255, 1);
  border-radius: 100px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.current {
  color: #5f6f77;
}

.current {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  place-items: center;
  text-align: center;
}

#current-temp {
  font-size: 70px;
  font-weight: 700;
}
#city {
  font-size: 50px;
}

.current2 {
  font-size: 20px;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  place-items: center;
  gap: 5px;
}

#date {
  font-weight: 500;
  font-size: larger;
}

#current-image {
  height: 150px;
  width: 150px;
}

#forecast-image {
  height: 120px;
  width: 120px;
  place-self: center;
}

.forecast {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* padding: 10px; */
  text-align: center;
  color: #5f6f77;
  /* place-items: center; */
  align-items: center;
}

.forecast-tile {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

#forecast-tile-1,
#forecast-tile-2,
#forecast-tile-3,
#forecast-tile-4,
#forecast-tile-5 {
  border-right: 2px double #5f6f77;
}

.forecast-temp {
  font-size: 30px;
  font-weight: 600;
}

.forecast-time {
  font-size: 20px;
  font-weight: 400;
}

/* bottom section  */

.bottom {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.sig {
  font-size: 20px;
  font-weight: 600;
  color: #5f6f77;
}

#git {
  height: 30px;
  width: 30px;
}
